.day {
  float: left;
  width: 100%/7;
  .border-box;
  border: none;
  box-shadow: inset @border-colour -1px -1px 0 0;
  font-size: 1em;
  text-align: right;
  .vertical-centre(80px);
  background: white;
  color: black;
  padding-right: 6px;
  padding-top: 6px;
  user-select: none;

  &.different-month {
    color: #C0C0C0;
  }

  &.white-day {
    background-color: white;
  }

  &.green-day {
    background-color: #add58b;
    cursor: pointer;
  }

  &.orange-day {
    background-color: #ffd68e;
  }

  &.red-day {
    background-color: #e3746a;
  }

  .employee-day-tooltip {
    position: absolute;
    width: 200px;
    color: black;
    background: white;
    height: 170px;
    line-height: 100px;
    text-align: center;
    visibility: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 22px -6px black;
    :last-child {
      border-bottom: none
    }
  }

  > div.day-tooltip-bottom {
    .employee-day-tooltip
  }

  > div.day-tooltip-bottom:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 20%;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-bottom: 8px solid white;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
  }

  > div.day-tooltip-top {
    .employee-day-tooltip
  }

  > div.day-tooltip-top:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 20%;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-top: 8px solid white;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
  }

  &.selected {
    box-shadow: 0px 0px 24px -2px black,
    inset @border-colour -1px -1px 0 0 !important;
  }

  &.day-info {
    > div.day-tooltip-bottom {
      visibility: visible;
      margin-top: 65px;
      z-index: 999;
    }
    > div.day-tooltip-top {
      visibility: visible;
      margin-top: -210px;
      z-index: 999;
    }
  }

  &.edit-day {
    > div.day-tooltip-bottom {
      visibility: visible;
      margin-top: 65px;
      z-index: 999;
    }
    > div.day-tooltip-top {
      visibility: visible;
      margin-top: -210px;
      z-index: 999;
    }
  }

  > span.day-info-icon {
    position: relative;
    float: left;
    top: 45px;
    left: 15px;
    background: transparent;
    color: white;
    cursor: pointer;
    font-size: 1.3em;
  }

  .day-tooltip-item {
    width: 100%;
    height: 170/3px;
    vertical-align: middle;
    line-height: 170/3px;
    text-align: left;
    left: 0;
    border-bottom: solid 1px @border-colour;
    margin: 0 0 0 0;

    > div.tooltip-item-value {
      padding-left: 15px;
      padding-right: 5px;
      font-size: 2em;
      .red-tooltip-value {
        color: red;
      }
    }

    > div.tooltip-item-name {
      color: #c2c2c2;
      font-size: 0.9em;
      line-height: 15px;
      padding-top: 15px;
      padding-left: 0px;
    }

  }

}