.day {
  float: left;
  width: 100%/7;
  .border-box;
  border: none;
  box-shadow: inset @border-colour -1px -1px 0 0;
  font-size: 1em;
  text-align: right;
  .vertical-centre(80px);
  background: white;
  color: black;
  padding-right: 6px;
  padding-top: 6px;
  user-select: none;
  cursor: pointer;

  &.different-month {
    color: #C0C0C0;
  }

  &.white-day {
    background-color: white;
  }

  &.green-day {
    background-color: #add58b;
  }

  &.orange-day {
    background-color: #ffd68e;
  }

  &.red-day {
    background-color: #e3746a;
  }

  > span.day-tooltip-bottom {
    position: absolute;
    width: 140px;
    color: black;
    background: white;
    height: 100px;
    line-height: 100px;
    text-align: center;
    visibility: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 22px -6px black,
  }

  > span.day-tooltip-bottom:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 20%;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-bottom: 8px solid white;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
  }

  > span.day-tooltip-top {
    position: absolute;
    width: 140px;
    color: black;
    background: white;
    height: 100px;
    line-height: 100px;
    text-align: center;
    visibility: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 22px -6px black,
  }

  > span.day-tooltip-top:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 20%;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-top: 8px solid white;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
  }

  &.selected {
    box-shadow: 0px 0px 24px -2px black,
    inset @border-colour -1px -1px 0 0 !important;
    > span.day-tooltip-bottom {
      visibility: visible;
      margin-top: 85px;
      margin-left: -100%/7 + 1px;
      z-index: 999;
    }
    > span.day-tooltip-top {
      visibility: visible;
      margin-top: -115px;
      margin-left: -100%/7 + 1px;
      z-index: 999;
    }
  }

}