.vertical-centre (@height) {
  height: @height;
  display: inline-block;
  vertical-align: middle;
}

.border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

@border-colour: #eaeaea;
calendar {
  display: block;
  .border-box;
  background: white;
  width: 100%;

  @secondary-colour: #f3f3f3;
  @spacing: 10px;
  @icon-width: 40px;
  @header-height: 48px;

  > div.header {
    float: left;
    width: 100%;
    background: @secondary-colour;
    height: @header-height;
    color: black;
    border-left: solid 1px @border-colour;
    border-right: solid 1px @border-colour;

    > * {
      .vertical-centre(@header-height);
      line-height: @header-height !important;
    }

    > i {
      float: left;
      width: @icon-width;
      font-size: 2em;

      position: relative;
      .border-box;
      padding: 0 @spacing;
      user-select: none;
      cursor: pointer;
    }

    > i.fa-angle-left {
      text-align: left;
      font-size: 2em;
      color: #ef5345;
    }

    > i.fa-angle-right {
      text-align: right;
      margin-left: @icon-width*-1;
      font-size: 2em;
      color: #ef5345;
    }

    > span {
      float: left;
      width: 100%;
      font-size: 18pt;
      text-transform: capitalize;
      .border-box;
      padding-left: @icon-width+@spacing;
      margin-left: @icon-width*-1;
      text-align: center;
      padding-right: @icon-width;
      color: #2d2d2d;
    }
  }
  > div.week {
    float: left;
    width: 100%;

    &:last-child {
      border-bottom: solid 1px @border-colour;
    }

    &.names > span {
      float: left;
      color: rgba(46, 46, 46, 0.5);
      background: white;
      text-align: center;
      font-size: 12pt;
      width: 100%/7;
      .border-box;
      .vertical-centre(30px);
      line-height: 2 !important;
      border-left: solid 1px @border-colour;
      &:last-child {
        border-right: solid 1px @border-colour;
      }

      font-family: arial, sans-serif;

      &.output-day {
        color: rgba(238, 52, 35, 0.8);
      }
    }
  }
}