<div class="header">
  <i class="fa fa-angle-left" ng-click="previous()">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </i>
  <span>{{currentMonth.format("MMMM YYYY")}}</span>
  <i class="fa fa-angle-right" ng-click="next()">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </i>
</div>
<div class="week">
  <span class="name">Понедельник</span>
  <span class="name">Вторник</span>
  <span class="name">Среда</span>
  <span class="name">Четверг</span>
  <span class="name">Пятница</span>
  <span class="name output-day">Суббота</span>
  <span class="name output-day">Воскресенье</span>
</div>


<div class="week" ng-repeat="week in weeks">
  <calendar-day day=day
                is-selected-day="isSelectedDay(day)"
                is-info-icon-day="isInfoIconDay(day)"
                is-employee-info-day="isEmployeeInfoDay(day)"
                ng-mouseenter="startShowDayInfoIcon(day)"
                ng-click="selectDay(day, $event)"
                ng-repeat="day in week.days"></calendar-day>
</div>