<div class="day"
     ng-class="{
      today: day.isToday,
      'different-month': !day.isCurrentMonth,
      selected: isSelectedDay,
      'white-day': day.dayType === 0,
      'green-day': day.dayType === 1,
      'orange-day': day.dayType === 2,
      'red-day': day.dayType === 3,
      'day-info': isEmployeeInfoDay && isSelectedDay && !isEditDay && day.dayType === 1,
      'edit-day': isEditDay && isSelectedDay
      }">
  <span ng-if="isEditDay ? true : isInfoIconDay && day.isCurrentMonth"
        class="day-info-icon"
        ng-click="editEmployeeDay($event)"></span>
  {{day.number}}


  <div ng-show="isEditDay && isSelectedDay"
       ng-class="{
  'day-tooltip-top': day.weekNumber > 2,
  'day-tooltip-bottom': day.weekNumber <= 2}">
    <div class="day-edit-item row">
      <div class="col-sm-3">
        <div class="green-circle"></div>
      </div>
      <div class="tooltip-item-name col-sm-9">
        Рабочий день
      </div>
    </div>
    <div class="day-edit-item row">
      <div class="col-sm-3">
        <div class="white-circle"></div>
      </div>
      <div class="tooltip-item-name col-sm-9">
        Не рабочий день
      </div>
    </div>
    <div class="day-edit-item row">
      <div class="col-sm-3">
        <div class="orange-circle"></div>
      </div>
      <div class="tooltip-item-name col-sm-9">
        Пропуск
      </div>
    </div>
    <div class="day-edit-item row">
      <div class="col-sm-3">
        <div class="red-circle"></div>
      </div>
      <div class="tooltip-item-name col-sm-9">
        Прогул
      </div>
    </div>
  </div>

  <div ng-show="isEmployeeInfoDay && isSelectedDay && !isEditDay && day.dayType === 1"
       ng-class="{
  'day-tooltip-top': day.weekNumber > 2,
  'day-tooltip-bottom': day.weekNumber <= 2}">
    <div class="day-tooltip-item row">
      <div class="tooltip-item-value col-sm-7">
        <span class="red-tooltip-value">{{day.visitedPoints.current}} </span> / {{day.visitedPoints.total}}
      </div>
      <div class="tooltip-item-name col-sm-5">
        Точек маршрута
      </div>
    </div>
    <div class="day-tooltip-item row">
      <div class="tooltip-item-value col-sm-7">
        <span class="red-tooltip-value">{{day.questionnaires.current}} </span> / {{day.questionnaires.total}}
      </div>
      <div class="tooltip-item-name col-sm-5">
        Опросных листов
      </div>
    </div>
    <div class="day-tooltip-item row">
      <div class="tooltip-item-value col-sm-7">
        <span class="red-tooltip-value">{{day.totalTime | statisticTimeFilter}} </span>
      </div>
      <div class="tooltip-item-name col-sm-5">
        Отработано времени
      </div>
    </div>
  </div>
</div>