<div class="header">
  <i class="fa fa-angle-left" ng-click="previous()">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </i>
  <span>{{month.format("MMMM YYYY")}}</span>
  <i class="fa fa-angle-right" ng-click="next()">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </i>
</div>
<div class="week names">
  <span>Понедельник</span>
  <span>Вторник</span>
  <span>Среда</span>
  <span>Четверг</span>
  <span>Пятница</span>
  <span>Суббота</span>
  <span>Воскресенье</span>
</div>


<div class="week" ng-repeat="week in weeks">
  <calendar-day day=day
                is-selected-day="isSelectedDay(day)"
                is-info-icon-day="isInfoIconDay(day)"
                is-employee-info-day="isEmployeeInfoDay(day)"
                ng-mouseenter="prepareShowDayInfoIcon(day)"
                ng-mouseleave="cancelShowDayInfoIcon()"
                ng-click="selectDay(day, $event)"
                ng-repeat="day in week.days"></calendar-day>
</div>